asgiref==3.12.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.2
django==5.2.18
idna==3.20
netifaces==0.11.0
numpy==2.5.3
pandas==2.3.3
psycopg2-binary==2.9.13
python-dateutil==2.9.0.post0
pytz==2026.5
requests==2.34.2
scipy==1.18.1
six==1.17.0
sqlparse==0.6.0
tzdata==2026.5
urllib3==2.8.0
